apiVersion: v1
kind: Secret
metadata:
  name: {{ cloud_init_secret }}
  namespace: {{ namespace }}
data:
  key: c3NoLXJzYSBBQUFBQjNOemFDMXljMkVBQUFBREFRQUJBQUFCZ1FDL00yWGZlaUQ2cjB0YVkzNWVOeUJyM1VOVmZTb0gzNGtlYnp3UW5ZeTczb25NNGl1Y29zRFZlNmZ5WjF3eTc3Sjl5ZzZjRXdudHFZVEhZaUQvNkZhQlppMUd2OHAwQ3J4Q3ZzVHVTQ0VnT2NMZjZ2VGJiUVBhZ1cyczEzelcwRHJ0bHJBQWtVSi94WXdYNzlnNGR6RmVvOTJZNmEzQXNZeDVHVENXbjk4aUxaazdLL1o4K3dTTXM4bE96eHhHNnIrejRkYVpLWTRObmFuTW1hVGp5em1RTkIwazdSYUlwbW5PdkY3NlVtTVlUTjVza1RVb3dFZHRwUzJtMEtWdmUxaG9hZUtsY2NCckcrUUxqR000WWJ2di9MczlZRXY0TXNsR0RXTXc0Vk8yWm1uL0FvdFl1Y0Rwd1lsbGpPZ2pvOVZPZTZ5UklUTmlGQ3dkRUxzZm1VeDZwK3RBVFFqT2o1bXI3L21LaWtGWUZuUmthakJocXdWeFVuZGRzYUxkcFg4ZEdpMXlLUkQ1RWZ3Qi9qYlFTaStjNzNwYjFXZXRJVkhmT3Z0ZHluZkV4d2UxbU5UN3hWSmtTY3BvTHV2Q211c3hMN2VEcEtXTXlqci9rdGIyMnFxdDRIbVpnZFVEckVMRVZOVEFRT0xLcHJjU0VaZW83TFNqWUpuMmVRazE3OWM9IGlzaHVzaGtpbkBhZG1pbg==
type: Opaque
